/* RESET BÁSICO */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F7F8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #1F1F1F;
}

/* CONTAINER */
.container {
  background-color: #FFFFFF;
  padding: 30px 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* PERFIL */
.profile .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
  border: 3px solid #5398F4;
}

.avatar:hover{
  transform: scale(1.15);
}

.profile h1 {
  margin: 0;
  color: #5398F4;
  font-size: 20px;
}

.subtitle {
  color: #6E6E6E;
  font-size: 14px;
  margin: 15px 0 25px;
}

/* LINKS */
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-button {
  background-color: #9BC6FA;
  border-radius: 24px;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #1F1F1F;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: all 0.25s ease;
}

.link-button:hover {
  background-color: #5398F4;
  color: #FFFFFF;
}

.link-button .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* RODAPÉ */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 28px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.15);
}

/* BOTÃO TEMA */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.theme-toggle img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.theme-toggle img:hover {
  transform: rotate(20deg) scale(1.1);
}

/* 🌙 DARK MODE */
body.dark-mode {
  background-color: #1F2A2E;
  color: #FFFFFF;
}

body.dark-mode .container {
  background-color: #24363B;
}

body.dark-mode .profile h1 {
  color: #6BBEC9;
}

body.dark-mode .profile .avatar{
  border: 3px solid #6BBEC9;
}

body.dark-mode .subtitle {
  color: #CFE8EC;
}

body.dark-mode .link-button {
  background-color: #2F4B52;
  color: #FFFFFF;
}

body.dark-mode .link-button:hover {
  background-color: #4FA3B5;
}

body.dark-mode .social-icons a img {
  filter: brightness(0.85);
}
